/* static/css/base.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
header {
    background: linear-gradient(to right, #002c5c, #0056b3, #ffffff);
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    max-width: 1200px; /* Example max width */
    margin: 0 auto; /* Center the container */
}

.logo {
    max-height: 80px; /* Adjust as needed */
    margin: 0 1rem; /* Space between logo and text */
}
.logo2 {
    position: absolute;
    right: 80px; /* Increase this value to move left */
    height: 150px;
}

header h1 {
    margin: 0; /* Remove default margin for h1 */
    flex-grow: 1; /* Allow header to take up remaining space */
}

/* Main Content Styles */
main {
    padding: 2rem;
}

.content {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
/* Footer Styles */
footer {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}
.date-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    flex-wrap: wrap; 
}

.date-container h2 {
    margin: 0;
}


.date-container h3 {
    margin: 0; 
    white-space: nowrap; 
}

select, input {
    padding: 5px;
    font-size: 12px;
}

input[type="number"] {
    width: 70px;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.border-image {
    width: 100%;
    position: absolute;
    margin-top: 30px;
    top: -20px;
    left: 0;
    z-index: 1;
}

footer p {
    margin: 0;
    z-index: 2;
    position: relative; /* Ensure footer content is above border image */
}


/* Reduce spacing between input and label */
label {
    white-space: nowrap; /* Prevent label from breaking */
}

.small-input {
    width: 60px; /* Small width for sheet number */
    text-align: center;
}

@media (max-width: 768px) {
    .row .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.container {
    max-width: 100%; /* Use full width */
    width: 98%; /* Slight margin on sides */
    margin: 0 auto; /* Center the container */
}




.table-container {
    display: flex;
}

/* Sticky and background color for frozen columns */
.freeze-column {
    position: sticky;
    left: 0;
    background-color: #e3f2fd;
    z-index: 1;
    border-right: 1px solid #ddd;
}

.input-table {
    overflow-x: auto;
}

.table th, .table td {
    white-space: nowrap;
}

.table-container .table {
    width: 100%;
    overflow: auto;
}


.table-container {
    overflow-x: auto;
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: nowrap;
    max-width: 100%;
    position: relative;
    overflow: auto;
    max-height: 530px;
    
}

.table {
    min-width: 1500px;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
}

.table th,
.table td {
    background-color: white;
    border: 1px solid #000;
    border-width: .5px;
    text-align: center;
}

.table-header th {
    background-color: rgb(245, 246, 246);
}

.freeze-column {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 3; /* Ensure sticky columns are on top */
    border-right: 1px solid #000;
}

.freeze-row {
    position: sticky;
    overflow: auto;
    max-height: 500px;
}

/* Adjust positioning for each frozen column */
.freeze-column:nth-child(1) { left: 0; min-width: 100px; }
.freeze-column:nth-child(2) { left: 100px; min-width: 150px; }
.freeze-column:nth-child(3) { left: 250px; min-width: 150px; }
.freeze-column:nth-child(4) { left: 400px; min-width: 100px; }

thead th {
    position: sticky;
    top: 0;
    z-index: 10; /* Ensure header stays above other content */
    background-color: #e3f2fd; /* Change this color to match your header */
    text-align: center;
  }
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 20px 0px 40px 17px;

}
.container {
    border: 1px solid #dee2e6;
    padding: 25px;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.container:hover {
    transform: translateY(-5px);
}
.header {
    display: flex;
    justify-content:left;
    align-items: center;
    margin-bottom: 15px;
}
.header .box {
    padding: 8px 15px;
    font-weight: bold;
    margin-right: 10px;
    background-color: #1170b9;
    color: white;
    border-radius: 5px;
}
.separator {
    border-top: 3px solid #000;
    margin: 15px 0;
}
.signature-image {
    display: none;
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin: 10px auto;
    border: 1px solid #dee2e6;
}
.signature-line-after {
border-top: 1px solid #000; 
width: 70%; 
margin: 5px auto;
}

.G-container {
    width: 100%;
    max-width: 1400px;
    background-color: white;
    padding: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left:auto;
}
.G-table-title {
    font-weight: bold;
    background-color: #1170b9;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 8px;
}
.styled-input {
border: 1px solid #ccc; 
border-radius: 5px; 
padding: 5px; 
font-size: 14px; 
margin-right: 30px ;
margin-left: 20px;
width: 200px;
}
.table-container {
    position: relative; 
    margin-bottom: 40px; 
}

.button-row {
    width: 100%; 
    display: flex; 
    justify-content: left;
}

.button-row button {
  background-color: #007bff; 
  color: white; 
  padding: 5px 10px; 
  border: none; 
  border-radius:5px;
}
/* Basic styling for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback
color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer-section {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 14px;
    justify-content: center;
}
.footer-section div {
    font-weight: bold;
}